<%= form_for(@carrinho) do |f| %>
  <% if @carrinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrinho.errors.count, "error") %> prohibited this carrinho from being saved:</h2>

      <ul>
      <% @carrinho.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :"ID: " %> <%=  @carrinho.id %>
    </p>
    <br />
    <p>
      <%= f.label :"Status" %><br><br>
      <%= f.select(:active ,[["Solicitado","0"],
                             ["Entregue","1"]],
                   {include_blank: 'Escolha'}, class:"browser-default") %>
    </p>


    <p>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= f.submit :"Salvar"%>
      </button>
    </p>
    <br />

<% end %>
