<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><%= link_to 'Home', home_index_path %></li>
  <li><%= link_to 'Doar Medicamentos', new_medicamento_path %></li>
  <li><%= link_to 'Medicamentos Disponiveis', medicamentos_path %></li>
  <li><%= link_to 'Dicas de Saude', home_index_path %></li>
  <li><%= link_to 'Equipe', home_index_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
</ul>