
<h1>Medicamentos Disponíveis</h1>
<br/>
  <%= search_form_for @q do |f| %>
    <%= f.label :"Medicamentos"  %>
    <%= f.search_field :nome_cont %>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <%= f.submit :"Buscar" %>
    </button>
  <% end %>

  <br/><br />

<div class="row">
  <% @medicamentos.each do |medicamento| %>
    <div class="col l10">
      <h3><%= medicamento.nome %></h3>

      <div class="divider"></div>
      <div class="row">
        <div class="col l9">

          <p>
            Tipo: <%= medicamento.tipo %>
          </p>
          <p>
            Descrição do remedio
          </p>
          <p>
           Validade: <%= medicamento.validade %>
          </p>
        <br /><br />
          <%= link_to 'Solicitar', new_item_path(medicamento_id: medicamento.id) %>
        </div>
        <div class="col l3">
          <br />
          <%= image_tag("medicamento.png") %>
         </div>
      </div>
    </div>
  <% end -%>
</div>
