<h1>Doar Medicamentos</h1>
<br/>
<div class="row">
  <div class="col l9">
<%= form_for :medicamento, url: medicamentos_path do |f| %>

    <% if not @medicamento.nil? and @medicamento.errors.any? %>
        <div id="error_explanation">
          <h2 style="color:red;">
            Para que essa noticia seja salva</h2>
          <ul>
            <% @medicamento.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Nome %><br>
      <%= f.text_field :nome %>
    </p>

    <p>
      <%= f.label :Tipo %><br>
      <%= f.text_field :tipo %>
    </p>

    <p>
      <%= f.label :Validade %><br>
      <%= f.text_field :validade %>
    </p>

    <p>
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <%= f.submit :"Salvar"%>
      </button>
    </p>
    <br />
<% end %>
    </div>

  <div class="col l3">
    <div id="aside">
      <h5>Gostou da experiência de doar um medicamento? Quer nos falar sobre isso? A população quer saber!</h5>
      <h3>Depoimentos</h3>
      <div class="divider"></div>
      <div class="card">
        <% @depoimentos.each do |depoimento| %>
          <div class="card-image">
            <img src="//placehold.it/800x450/FF9800/EE00BB">
            <span class="card-title"><%= depoimento.user.perfil.nome %></span>
          </div>
          <div class="card-content">
            <%= depoimento.depoimento %>
          </div>
          <div class="card-action">
            <%= link_to 'Ver', depoimento %>
          </div>
        <% end %>
      </div>


    </div>

  </div>

</div>

