<h1>Doações</h1>
<br />
<table>
  <thead>
  <tr>
    <th>Data da Doação</th>
    <th>Data Coleta</th>
    <th>Local</th>
    <th>Usuario</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @doacoes.each do |doacao| %>
      <thead>
      <tr>
        <% if !doacao.data_criacao.blank? || !doacao.data_criacao.nil? %>
            <td><%= doacao.data_criacao.strftime("%d/%m/%Y") %></td>
        <% else %>
            <td>Erro ao recuperar data</td>
        <% end %>
        <td><%= doacao.data_doacao %></td>
        <td><%= doacao.local_doacao %></td>
        <td><%= doacao.user.email %></td>
        <td><%= link_to 'Ver', doacao %></td>
      </tr>
      </thead>
  <% end %>


  </tbody>
</table>
