<%= form_for(@doacao) do |f| %>
  <% if @doacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doacao.errors.count, "error") %> prohibited this doacao from being saved:</h2>

      <ul>
      <% @doacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col l9">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :"Como deseja doar?" %><br /><br />
            <%= f.select(:tipo ,[["Levar ao ponto de coleta"],
                                 ["Motoqueiro busque para mim"]],
                         {include_blank: 'Escolha'}, id: "localdoacao") %>
          </div>
        </div>
        <div class="row" id="local_doacao">
          <div class="input-field col s12">
            <%= f.label :"Endereço da coleta" %><br /><br />
            <%= f.select :local_doacao, @enderecos.map{ |e| [e.nome, e.nome]},{include_blank: 'Escolha um endereço'} %>
          </div>
        </div>
        <div class="row" id="horio_doacao">
          <h5> Horario para a coleta</h5>
          <div class="input-field col s6">
            <%= f.label :data_doacao %>
            <%= f.text_field :data_doacao, id: "datadoacao" %>
          </div>
          <div class="input-field col s6">
            <%= f.label :horario_doacao %>
            <%= f.text_field :horario_doacao, id: "horadoacao" %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
        </div>
        <%= f.fields_for :medicamentos do |medicamento| %>
            <%= render "medicamento_fields", :f => medicamento %>
        <% end %>
        <%= link_to_add_association 'Adicionar Medicamento', f, :medicamentos %>

        <br /><br />
        <button class="btn waves-effect waves-light" type="submit" name="action">
          <%= f.submit :"Salvar"%>
        </button>
      </div>
    </div>
<% end %>
    <div class="col l3">
      <div id="aside">
        <h5>Gostou da experiência de doar um medicamento? Quer nos falar sobre isso? A população quer saber!</h5>
        <h3>Depoimentos</h3>
        <div class="divider"></div>
        <div class="card">
          <% @depoimentos.each do |depoimento| %>
              <div class="card-image">
                <img src="//placehold.it/800x450/FF9800/EE00BB">
                <span class="card-title"><%= depoimento.user.perfil.nome %></span>
              </div>
              <div class="card-content">
                <%= depoimento.depoimento %>
              </div>
              <div class="card-action">
                <%= link_to 'Ver', depoimento %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function() {
    $('select').material_select();

    $("#horio_doacao").css("display", "none");
    $("#local_doacao").css("display", "none");

    $("#localdoacao").on('change', function(e){
      if ($(this).val() == "Motoqueiro busque para mim") {
        $("#horio_doacao").css("display", "block");
        $("#local_doacao").css("display", "block");

      }else{
        $("#horio_doacao").css("display", "none");
        $("#local_doacao").css("display", "none");
      }
      return false;
    });
  });

  jQuery(function($){
    $("#datadoacao").mask("99/99/9999",{placeholder:"dd/mm/yyyy"});
    $("#horadoacao").mask("99:99",{placeholder:"hh:mm"});
  });

</script>