<div class="nested-fields">
    <h3>Medicamento</h3>
  <p>
    <%= f.label :"Nome Medicamento" %><br>
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :"Tipo de Medicamento" %><br><br>
    <%= f.select(:tipo ,[["Comprimidos/Drágeas/Pílulas"],
                         ["Líquidos(solução e gotas)/Apenas fechados"],
                         ["Pomadas e Cremes(fechados)"],
                         ["Meu medicamento está vencido. Quero descarta-lo."]],
                 {include_blank: 'Escolha um'}, class:"browser-default") %>
  </p>
  <p>
    <%= f.label :Validade %><br>
    <%= f.text_field :validade, id: "validaderemedio" %>
  </p>
  <%= javascript_include_tag 'application', 'maskedinput'%>
  <%= link_to_remove_association "remover medicamento", f %>
</div>
