<h1>Solicitações</h1>
<br />
<table>
  <thead>
  <tr>
    <th>Codigo</th>
    <th>Data Solicitação</th>
    <th>Qtd Medicamentos</th>
    <th>Usuario</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @carrinhos.each do |carrinho| %>
      <thead>
      <tr>
        <td><%= link_to carrinho.id, carrinho_path(carrinho.id) %></td>
        <% if !carrinho.data.blank? || !carrinho.data.nil? %>
            <td><%= carrinho.data.strftime("%d/%m/%Y") %></td>
        <% else %>
            <td>Erro ao recuperar data</td>
        <% end %>
        <td><%= carrinho.items.size %></td>
        <% if !carrinho.user.perfil.blank? || !carrinho.user.perfil.nil? %>
            <td><%= link_to carrinho.user.email, perfi_url(carrinho.user.perfil.id) %></td>
        <% else %>
            <td><%= carrinho.user.email %></td>
        <% end %>
        <td><%= link_to carrinho.retorna_status, edit_carrinho_path(carrinho.id) %></td>
      </tr>
      </thead>
  <% end %>


  </tbody>
</table>
