<!DOCTYPE html>
<html>
<head>
  <title>Farmacia Do Bem</title>

  <!--materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Farmacia Do Bem</a>
    <ul>
      <% if user_signed_in? %>
          <%= render partial: "home/logado" %>
      <% else %>
          <%= render partial: "home/deslogado" %>
      <% end %>
    </ul>
  </div>
</nav>


<div class="container">
  <%= notice %>
  <br/>
  <%= yield %>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Pellentesque pulvinar mi vel augue tempor,
          in sagittis nisi hendrerit. Mauris lobortis commodo massa at interdum.
          Donec pretium porttitor nulla, placerat finibus nisl iaculis ac. Maecenas
          ut ligula eu felis faucibus malesuada. Curabitur egestas libero at ligula
          congue cursus. Pellentesque venenatis feugiat justo, vel rutrum dui bibendum in.
          Mauris volutpat dolor posuere elit egestas, sed cursus diam consequat.
          Proin imperdiet est erat, id aliquet ligula pretium in. Maecenas no
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Farmacia Do Bem Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


<!-- materialize -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</body>
</html>
