<!DOCTYPE html>
<html>
<head>
  <title>Farmacia Do Bem</title>

  <!--materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <% if user_signed_in? %>
    <%= render partial: "home/drop_logado" %>
  <% end %>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Farmacia Do Bem</a>
      <ul>
        <% if user_signed_in? %>
            <%= render partial: "home/logado" %>
        <% else %>
            <%= render partial: "home/deslogado" %>
        <% end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Home', home_index_path %></li>
        <li><%= link_to 'Doar Medicamentos', new_doacao_path %></li>
        <li><%= link_to 'Medicamentos Disponiveis', medicamentos_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<div class="container" id="container">

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="#container" class="btn-floating btn-large green">
      <i class="large material-icons">publish</i>
    </a>
  </div>
  <%= notice %>
  <br/>
  <%= yield %>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contato</h5>
        <p class="grey-text text-lighten-4">
          <i class="tiny material-icons">email</i> Email: farmaciadobem@gmail.com<br /><br />
          <i class="tiny material-icons">call</i> Contatos: (031)9 87914645 - Marcelo<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          (031)0 01589474 - Luciana
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Sociais</h5>
        <ul>
          <a href="https://www.facebook.com/farmaciadobemsl" target="_blank">
            <%= image_tag(("facebook.png"), class: "responsive-img") %>
          </a>
            <%= image_tag(("twitter.png"), class: "responsive-img") %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Farmacia Do Bem Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


<!-- materialize -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
  });
</script>
</body>
</html>
